
.container{
    width: 100vw;
    display: flex;
}
.subContainer{
    width: 100%;
    display: flex;
    background-color: #eee;
}

.areaPrincipal{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flecha{
    margin: 0 20px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(74, 198, 255);
}

.informacoes{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.containerInformacoes{
    margin-top: 50px;
}

.informacoes p{
    font-weight: bold;
    color: #333;
}

.imgPrincipal{
    margin-top: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px #bbb;
    background-color: white;
}
