*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.barraLateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 167, 0);
    width: 90px;
    border-radius: 0px 15px 15px 0px;
    min-height: 100vh;
}

.menuIcon{
    padding: 20px 0;
}

img{
    cursor: pointer;
}



.barraAluno{
    background-color: #DDD;
    padding: 20px;
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.containerCalendario{
    display: flex;
    justify-content: center;
}


.board, .list{
    width: 900px;
}



.bg-diferente{
    background-color: #DDD;
}

h2{
    margin: 40px 0;
    font-size: 30px;
    text-transform: uppercase;
    /*border: 1px solid #AAA;*/
    box-shadow: -5px 5px 10px black;
    padding: 20px 60px;
}

.identificacao{
    text-transform: uppercase;
    font-weight: bold;
}

.cardMateria{
    padding: 6px ;
}

.input{
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #DDD;
    color: rgb(0, 0, 0);
    padding: 2px;
    width: 100px;
    height: 20px;

}
a{
    color: black;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: #a3a5ae;
    font-size: 16px;
}


.green {
    border-left: 3px solid #3bb54a;
}

* {
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.list, .card .title {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.list, .card .content {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.card {
    
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 10px;
    margin: 20px;
    width: 250px;
    transition: all 0.3s ease-out;
    display: inline-block;
    flex-direction: column;
}

.card .title {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    padding: 0.4rem;
}
.card .content {
    font-family: 'Kulim Park', sans-serif;
    min-height: 10rem;
    background-color: #DDD;
    padding: 0.4rem;
}



table{
    width: 90vw;
}

th {
    background-color: #333;
    color: white;
}

th, td{
    text-align: center;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #AAA;
}

.botao{
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #DDD;
    color: rgb(0, 0, 0);
    padding: 2px;
    width: 100px;
    height: 20px;
    
}

.lineImputMateria input {
    width: 500px;
    height: 20px;
    background-color: #f2f2f2;
    padding: 4px;
    border: 1px solid #ccc;
    color: #333;
}
  
.lineImputMateria input[type=submit] {
    border-radius: 5px;
    border: 1px solid #333;
    background-color: Teal;
    color: #fff;
    height: 30px;
    width: 46px;
}

.container{
    display: flex;
    width: 100vw;
}

.subContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}