.barraLateral{ 
    background-color: rgb(25, 25, 46);
    min-height: 100vh;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    border-radius: 50%;
    margin: 20px 0;
}

.menuIcon{
    display: flex;
    align-items: center;
}

.menuIcon p {
    color: #CCC;
    font-size: 16px;
    margin-left: 10px;
}

.menuIcon p:hover {
    color: WHITE;
    transition: 300ms;
}

a{
    text-decoration: none;
}